<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.switchingMethod() === "PLUGIN" && settings.plugins.psucontrol.switchingPlugin() === "psucontrol_shelly") -->
    <span class="help label label-important">Please set the switching method to <b>PLUGIN</b> and the switching plugin to <b>PSU Control - Shelly</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.sensingMethod() === "PLUGIN" && settings.plugins.psucontrol.sensingPlugin() === "psucontrol_shelly") -->
    <span class="help label label-important">Please set the sensing method to <b>PLUGIN</b> and the sensing plugin to <b>PSU Control - Shelly</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<form class="form-horizontal">
    <h4>PSU Control - Shelly settings</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_shelly.use_cloud"> Use Shelly Cloud
            </label>
            <!-- ko if: settings.plugins.psucontrol_shelly.use_cloud() -->
            <span class="help-block">Connect through the Shelly Cloud service. This requires an active connection to the internet.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.psucontrol_shelly.use_cloud() -->
            <span class="help-block">Connect directly to the Shelly device over your LAN. This requires the devices to be in the same network.</span>
            <!-- /ko -->
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_shelly.ng_device"> Shelly Next-gen (Pro/Plus) device
            </label>
            <!-- ko if: settings.plugins.psucontrol_shelly.ng_device() -->
            <span class="help-block">Uncheck this if you are not using a Shelly Pro or Plus device.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.psucontrol_shelly.ng_device() -->
            <span class="help-block">Check this if you are using a Shelly Pro or Plus device.</span>
            <!-- /ko -->
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol_shelly.use_cloud() -->
    <div class="control-group">
        <label class="control-label">Server address</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.server_address">
            <span class="help-block">Your Shelly Cloud server address. See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-Shelly#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Auth key</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.auth_key">
            <span class="help-block">Your Shelly Cloud authorization key. See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-Shelly#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Device ID</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.device_id">
            <span class="help-block">Your Shelly device ID. See <a href="https://github.com/edekeijzer/OctoPrint-PSUControl-Shelly#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: settings.plugins.psucontrol_shelly.use_cloud() -->
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.local_address">
            <span class="help-block">The IP address or hostname of your Shelly device.</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_shelly.enable_auth"> Use authentication
            </label>
            <span class="help-block">Check this if your Shelly requires a username and password to connect.</span>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol_shelly.enable_auth() -->
    <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: settings.plugins.psucontrol_shelly.password">
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Output</label>
        <div class="controls">
            <input type="number" min="0" max="3" class="input-mini" data-bind="value: settings.plugins.psucontrol_shelly.output">
            <span class="help-block">Certain Shelly devices have multiple outputs, select the output you'd like to switch here. For Shelly 1, keep this at 0.</span>
        </div>
    </div>
</form>