<form class="form-horizontal">
    <h4>General</h4>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_shelly.use_cloud"> Use Shelly Cloud
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol_shelly.use_cloud() -->
    <div class="control-group">
        <label class="control-label">Server address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.server_address">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Auth key</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.auth_key">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Device ID</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.device_id">
        </div>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: settings.plugins.psucontrol_shelly.use_cloud() -->
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.local_address">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_shelly.enable_auth"> Use authentication
            </label>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol_shelly.enable_auth() -->
    <div class="control-group">
        <label class="control-label">Username</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_shelly.password">
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Output</label>
        <div class="controls">
            <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.psucontrol_shelly.output">
            <br/>
        </div>
    </div>
</form>
